body{
  background-color:darkseagreen
}

h1{
  color: white;
  background-color: green;
  text-decoration: underline;
}

h2{
  color: green;
  text-decoration: underline;
}
p{
  padding: 1%;
  border: solid 4px;
}

ul,ol{
  background-color:#ffff99;
  padding: 1%;
}

