div {
  background-attachment: fixed;
  margin-bottom: 40px;
  height: 450px;
  background-color: #49274A;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #DBC3D0;
  padding: 2%;
  font-variant: small-caps;
}

h1{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input{
  padding: 8px;
  margin-top: 2%;
  background-color: #49274A;
  border: solid 3px grey;
  color: rgb(179, 173, 173);
}
button{
  background-color: #a40fa9;
  color: white;
  padding: 9px 70px 9px 60px;
 
}