@keyframes HelloWorld {
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0);
  }
}

h1{
  animation: HelloWorld 1s ease-in 1s both;
  transform: translateX(-150px);
}


h1:hover{
  font-size: 5cm;
}