body{
  background-color: black;
}
header{
  height: 50px;
  width: 100%;
  background-color: red;
}
.container{
  margin-left: 5%;
}

.container div{
  color: black;
  font-size: 0.5cm;
  display: inline-block;
  padding: 10px 50px 0 30px;
  font-weight: 500;
  
}