body{
  display: block;
  background-color: black;
  color: gray;
  background-attachment:fixed;
}

.alert{
  display: block;
  background-color: #91e5c9;
  color: black; 
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 7%;
  padding-right: 7%;
  word-spacing: 2px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif; 
}

.container h2{
  display: block;
  padding-top: 7%;
  padding-left: 3%;
  font-size: 1.7rem;
  
}

ul{
  display: block;
  margin: 30px;
}


ul li{
   padding: 3%;
  font-size: 1.7rem; 
}



.check{
  display: block;
  padding: 2%;
  border-bottom: 1px solid rgb(216, 210, 210);
  opacity: 0.2;
}

.signature p{
  display: block;
  padding-top: 10%;
  text-align: center;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem; 
}

.much-heart{
  color: red;
}

strong{
  color: rgb(179, 173, 173);
}
strong:hover{
  color:white;
}

ul{
  list-style: none;
}


ul li label{
  padding-left: 20px;
}
ul li:hover label,ul li:hover{
  color: #FFFFFF;
}

ul li input[type =radio]:checked + label{
  color: #0DFF92;
}

ul li input[type =radio]:checked {
  color: #0DFF92;
}

input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 500px;
  top: -15px;
  left: -20px;
  position: relative;
  background-color: black;
  content: '';
  display: block;
  /* visibility: visible; */
  border: 15px double white;

}

input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 500px;
  top: -15px;
  left: -20px;
  position: relative;
  background-color: black ;
  content: '';
  display:block;
  visibility: visible;
  border: 15px double #0DFF92;
  
}
















